<%= form_with(model: worked_period, local: true) do |form| %>
  <% if worked_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worked_period.errors.count, "error") %> prohibited this worked_period from being saved:</h2>

      <ul>
      <% worked_period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :started_at %>
    <%= form.datetime_select :started_at %>
  </div>

  <div class="field">
    <%= form.label :ended_at %>
    <%= form.datetime_select :ended_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
