<p id="notice"><%= notice %></p>

<h1>Worked Periods</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @worked_periods.each do |worked_period| %>
      <tr>
        <td><%= worked_period.date %></td>
        <td><%= worked_period.started_at.to_s(:time) %></td>
        <td><%= worked_period.ended_at ? worked_period.ended_at.to_s(:time) : '' %></td>
        <td><%= distance_of_time_in_words(worked_period.duration) %></td>
        <td>(<%= Time.at(worked_period.duration).utc.strftime("%H:%M:%S") %>)</td>
        <td><%= link_to 'Show', worked_period %></td>
        <td><%= link_to 'Edit', edit_worked_period_path(worked_period) %></td>
        <td><%= link_to 'Destroy', worked_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td><%= distance_of_time_in_words(@worked_periods.to_a.sum(&:duration)) %></td>
      <td>(<%= (@worked_periods.to_a.sum(&:duration).seconds/3600).to_i.to_s.rjust(2,'0') + ":"+Time.at(@worked_periods.to_a.sum(&:duration)).utc.strftime("%M:%S") %>)</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Time Worked', new_worked_period_path %>
