<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @worked_period.started_at %>
</p>

<p>
  <strong>End:</strong>
  <%= @worked_period.ended_at %>
</p>

<%= link_to 'Edit', edit_worked_period_path(@worked_period) %> |
<%= link_to 'Back', worked_periods_path %>
