<!DOCTYPE html>
<html lang-"en">
  <head>
    <!-- Meta tags required for bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Demo</title>
    <!-- preven cross-site request forgery -->
    <%= csrf_meta_tags %>

    <!-- cache a nonce and reuse as long as the session lives, I think: https://bauland42.com/ruby-on-rails-content-security-policy-csp/ -->
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
